/* ================================ !OBJECTS */

/* =================== !SELECTION */

::-moz-selection { background: $c--primary; color: $c--background; text-shadow: none; }
::selection { background: $c--primary; color: $c--background; text-shadow: none; }

/* =================== !FORMS */

.field {
    position: relative;
    &__label {
        position: absolute;
        top: 0;
        left: 0;
        transition: $s--fast $e--out;

        &.is-focused {
            opacity: 0;
        }
    }
}

label,
textarea,
[type="text"],
[type="email"],
[type="tel"],
[type="url"],
[type="number"],
[type="password"],
.field__label,
.field__input {
    width: 100%;
    background: none;
    border: 1px solid transparent;
    padding: 2.3rem 1.6rem;

    &.error {
        color: $c--error;
    }
}

textarea{
    min-height: 10rem;
}

/* =================== !BUTTONS */

button,
[type="button"],
[type="submit"],
.button {
    cursor: pointer;
    display: inline-block;

    &:hover,
    &:focus {

    }
}

/* =================== !TABLES */

table {

}

/* =================== !HEADER */

.site-header {

}

.main-nav {

}

/* =================== !FOOTER */

.footer{

}

/* =================== !BLOCK LEVEL ELEMENTS */