/* ================================ !UTILITY */

/* =================== !CLEARS */
.cf {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.clear {
    clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}



/* =================== !ALIGNMENT */

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.justify {
    text-align: justify;

    &:after {
        content: "";
        display: inline-block;
        height: 0;
        width: 100%;
    }
}



.alignleft {
    float: left;

    &img {
        margin: .5rem $g--space $g--space/2 0;
    }
}
.alignright {
    float: right;

    &img {
        margin: .5rem 0 $g--space/2 $g--space;
    }
}
.aligncenter {
    display: block;
    margin: 0 auto;

    &img {
        margin: .5rem auto $g--space;
    }
}




/* =================== !GRID */

.w12  { width: 12.5%;  }
.w25  { width: 25%;    }
.w33  { width: 33.33%; }
.w50  { width: 50%;    }
.w66  { width: 66.66%; }
.w75  { width: 75%;    }
.w100 { width: 100%;   }

.container {
    max-width: $g--width + $g--space;
    margin-left: auto;
    margin-right: auto;
    padding-left: $g--space/2;
    padding-right: $g--space/2;

    &--no-pad,
    &.g {
        padding-left: 0;
        padding-right: 0;
    }
}

.g {
    font-size: 0;

    &--pulled {
        margin-left: -$g--space/2;
        margin-right: -$g--space/2;
    }

    > * {
        font-size: medium;
    }

    &__col {
        display: inline-block;
        vertical-align: top;

        &--pad {
            padding-left: $g--space/2;
            padding-right: $g--space/2;
        }
    }
}