// @desc Get a value from the $map-spacing map.
// @param  $size {string}   The desired size from the map.
// @param  $device {string} The desired device (Default value: desktop).
// @return string           The value of requested index.
@function spacing($size, $device: 'desktop') {

    $map-spacing: (
        desktop: (
            1: 1rem,
            2: 3rem,
            3: 6rem,
            4: 12rem
        ),
        mobile: (
            1: 0.7rem,
            2: 2rem,
            3: 4rem,
            4: 8rem
        )
    );


    @if map-has-key($map-spacing, $device) {

        @return map-get(map-get($map-spacing, $device), $size);

    } @else {

        @warn '`#{index}` is not a valid index in Map: $map-spacing.';
        @return null;

    }

}
