html {
    font-size: 62.5%;
}

body {
    font-size: font-size(base);
}

::selection {
    background: palette(brand);
    color: palette(background);
    text-shadow: none;
}

.wysiwyg {

    h1 {
        //lint-fix
    }

    h2 {
        //lint-fix
    }

    h3 {
        //lint-fix
    }

    h4 {
        //lint-fix
    }

    h5 {
        //lint-fix
    }

    h6 {
        //lint-fix
    }

    a {
        //lint-fix
    }

    p {
        //lint-fix
    }

    ul {
        //lint-fix
    }

    ol {
        //lint-fix
    }

    li {
        //lint-fix
    }

    blockquote {
        //lint-fix
    }
}
