/* ================================= !CONTENTS

	!FONTS 				(@font-face, icon-fonts, etc.)

	!RESET 	 			(Print Styles, Normalize, Chrome Prompt, etc.)

	!UTILITY 			(Clearfix, Alignment, Containers, etc.)

	!PLUGINS 			(Plugin overwrite CSS)

	!TYPE 				(Links, Selection, Headings, Body, etc.)

	!OBJECTS 			(Buttons, forms, re-usable parts, etc.)
		!HEADER
		!NAVIGATION
		!FOOTER

	!PAGES    			(Body, HTML, wrappers, page specific, etc.)
		!HOME

 =========================================== */
/* ================================ !IMPORTS */
/*=================================== !VARIABLES*/
/* =================== !COLOURS */
/* =================== !GRID */
/* =================== !MEDIA-QUERIES  */
/* =================== !SPEEDS */
/* =================== !EASINGS */
/* easeInCirc */
/* easeOutCirc */
/* =================== !FONT-STACKS */
/* ================================ !RESETS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }

body {
  line-height: 1;
  background: #fff; }

blockquote {
  quotes: none; }

abbr[title] {
  border-bottom: 1px dotted; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul {
  list-style-type: none; }

address {
  font-style: normal; }

a:hover, a:active, input, textarea, select, button {
  outline: 0; }

svg {
  width: 100%;
  height: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

input:first-line, select:first-line {
  display: inline-block; }

html, button, input, select, textarea {
  font-family: inherit;
  color: #222;
  font-size: 100%;
  line-height: 1; }

label, button, input, select, textarea, option {
  vertical-align: baseline;
  *vertical-align: middle;
  cursor: pointer;
  border-radius: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  *overflow: visible; }

input[type="text"]:active, input[type="text"]:focus, textarea:active, textarea:focus {
  cursor: text; }

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], textarea {
  background-clip: padding-box; }

button[disabled], input[disabled] {
  cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

[hidden] {
  display: none; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

.broser-outdated {
  margin: 1em 0;
  background-color: #b00;
  color: #fff;
  padding: 1em 0;
  text-align: center; }

.broser-outdated a {
  color: #fff; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after {
    content: ""; }
  img {
    max-width: 100% !important; } }

/* ================================ !UTILITY */
/* =================== !CLEARS */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

/* =================== !ALIGNMENT */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.justify {
  text-align: justify; }
  .justify:after {
    content: "";
    display: inline-block;
    height: 0;
    width: 100%; }

.alignleft {
  float: left; }
  .alignleftimg {
    margin: 0.5rem 5.7rem 2.85rem 0; }

.alignright {
  float: right; }
  .alignrightimg {
    margin: 0.5rem 0 2.85rem 5.7rem; }

.aligncenter {
  display: block;
  margin: 0 auto; }
  .aligncenterimg {
    margin: 0.5rem auto 5.7rem; }

/* =================== !GRID */
.w12 {
  width: 12.5%; }

.w25 {
  width: 25%; }

.w33 {
  width: 33.33%; }

.w50 {
  width: 50%; }

.w66 {
  width: 66.66%; }

.w75 {
  width: 75%; }

.w100 {
  width: 100%; }

.container {
  max-width: 136.8rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.85rem;
  padding-right: 2.85rem; }
  .container--no-pad, .container.g {
    padding-left: 0;
    padding-right: 0; }

.g {
  font-size: 0; }
  .g--pulled {
    margin-left: -2.85rem;
    margin-right: -2.85rem; }
  .g > * {
    font-size: medium; }
  .g__col {
    display: inline-block;
    vertical-align: top; }
    .g__col--pad {
      padding-left: 2.85rem;
      padding-right: 2.85rem; }

/* ================================ !PLUGIN-NAME */
/* ================================ //  */
/* ================================ !TYPOGRAPHY */
/* =================== !LINKS */
a {
  color: #000000;
  text-decoration: none;
  outline: 0;
  -webkit-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
  a:hover, a:focus {
    color: #1a1a1a; }

/* =================== !BASE-TYPE */
html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  color: #000000;
  font-size: 1.4rem; }

/* =================== !HEADINGS */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: serif;
  margin-bottom: 2.85rem;
  font-weight: normal; }

h1,
.h1 {
  font-size: 3.5rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.4rem; }

h4,
.h4 {
  font-size: 2rem; }

h5,
.h5 {
  font-size: 1.6rem; }

p {
  line-height: 1.6; }

/* =================== !ARTICLES */
article p {
  margin-bottom: 5.7rem; }

article blockquote {
  font-style: italic;
  padding: 5.7rem;
  margin-bottom: 5.7rem; }
  article blockquote > p {
    margin-bottom: 0; }

article ul,
article ol {
  padding-left: 5.7rem;
  margin: 5.7rem 0;
  list-style-position: outside;
  list-style-type: disc; }

article ol {
  list-style-type: decimal; }

article li {
  margin: 2.85rem 0; }

/* =================== !WORDPRESS */
.wp-caption {
  max-width: 100% !important;
  margin-bottom: 5.7rem; }
  .wp-caption > a {
    display: block; }

.wp-caption-text {
  text-align: center;
  font-size: 80%;
  margin: .5rem 0; }

/* =================== !WYSIWYG */
/* ================================ !PAGES */
/* =================== !HOME */

/*# sourceMappingURL=main.css.map */
