{% extends 'base.twig' %}

{% block content %}

    <main role="main" class="four-oh-four">

        <h1>{{ __('This is somewhat embarrassing, isn\'t it?', 'tmp') }}</h1>

        <p>{{ __('It seems we can\'t find what you\'re looking for.', 'tmp') }}</p>

    </main>

{% endblock %}