{%  extends 'base.twig' %}

{% block content %}

    <main role="main" class="px-20">

        <h1>Lorem ipsum</h1>
        <h2>Lorem ipsum</h2>
        <h3>Lorem ipsum</h3>
        <h4>Lorem ipsum</h4>
        <h5>Lorem ipsum</h5>
        <h6>Lorem ipsum</h6>

        <p><strong>Lorem ipsum</strong> dolor <abbr title="Sergeant">Sgt.</abbr> sit amet, <acronym
                    title="Founded in 2006"> Twitter</acronym> consectetur adipiscing elit.
            <del>Curabitur in mattis augue</del>
            , sit amet blandit massa.
            <ins>Cras ultrices in augue eu pellentesque</ins>
            . Nam ultrices turpis at massa
            <time datetime="2008-02-14 20:00">Valentines day</time>
            condimentum viverra. Donec quis posuere nunc. Donec viverra vitae enim sed posuere. Ut risus velit, eleifend
            non mi id, efficitur interdum magna. Nunc eu ultricies urna, a posuere risus. Praesent at ex auctor, congue
            nunc id, aliquet justo. Nullam id aliquam tellus. Duis sit amet eros at orci molestie sodales in eget massa.
            Proin tincidunt arcu at nisi ornare hendrerit. Nullam feugiat quis magna ac tempor. Pellentesque tincidunt
            lacinia auctor. Integer congue neque a felis eleifend lacinia.
        </p>

        <img src="https://picsum.photos/200/300" alt="Lorem picksum"/>

        <ul>
            <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
            </li>
            <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
            </li>
            <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
            </li>
        </ul>

        <ol>
            <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
            </li>
            <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
            </li>
            <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
            </li>
        </ol>

        <blockquote>
            Maecenas efficitur lobortis sapien in feugiat. Nunc pretium ex et est facilisis ultrices. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Nullam at sodales quam, non aliquet odio. Curabitur mauris
            urna, congue ac blandit eu, faucibus dapibus quam. Sed id ultrices eros, at rhoncus tellus. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Aliquam ut tempor augue.
            <cite>-Sed volutpat, libero tempor interdum varius.</cite>
        </blockquote>

        <address>Glen Stansberry
            1234 Web Dev Lane
            Anywhere, USA
        </address>

        <a href="http://facebook.com" title="test" class="js-share">Hyperlink</a>

        <button>Button</button>

        <form action="contact_email" class="form js-process-form">
            <div class="form__field">
                <label class="form__label" for="input1">Text Field</label>
                <input class="form__input" type="text" name="text" id="input1"/>
            </div>

            <div class="form__field">
                <label class="form__label" for="input2">Textarea</label>
                <textarea class="form__input" name="textara" id="input2"></textarea>
            </div>

            <div class="form__field">
                <label class="form__label" for="input3">select Field</label>
                <select class="form__select" name="select" id="input3">
                    <option value="">Blank</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
            </div>

            <button class="button">Button</button>
        </form>

        <pre>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at. Proin dictum ornare tellus, cursus tincidunt velit dapibus ac. Fusce commodo eu magna non finibus. Vestibulum eros orci, ultricies eget fermentum ut, blandit et sapien. Praesent pretium metus nibh, vel interdum erat tincidunt in. Morbi vitae orci tincidunt, rhoncus justo ac, molestie enim. Integer condimentum volutpat neque, a gravida nisi laoreet ac. Nam a rhoncus ipsum. Pellentesque ac dui eu massa consectetur blandit. Nullam sollicitudin gravida varius. Nam ut libero sit amet ex feugiat pellentesque eu non nunc. </pre>

        <div class="wysiwyg border theme-invert">
            <h1>Lorem ipsum</h1>
            <h2>Lorem ipsum</h2>
            <h3>Lorem ipsum</h3>
            <h4>Lorem ipsum</h4>
            <h5>Lorem ipsum</h5>
            <h6>Lorem ipsum</h6>
            <p class="theme-initial">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci officia laboriosam ipsa,  {{ settings.social.twitter.icon|remove_fill|remove_stroke|svg_class('fill-content w-12 inline-block') }}  voluptas porro ut itaque at consequuntur amet placeat quisquam corrupti temporibus, iusto odio. Iste eligendi nihil amet molestiae in nulla omnis quos odio tempore dolores, iusto ad facilis voluptatibus incidunt ex atque placeat commodi. Eum possimus rerum tempora commodi! Veritatis officia fugit natus architecto, eos quos facere labore voluptatibus possimus illum nesciunt unde repudiandae. Fugit ratione cumque laborum voluptatem iste et dolores similique, perspiciatis libero obcaecati iusto deserunt minima delectus consequuntur consectetur dicta, adipisci magni dignissimos ut labore eius reprehenderit vero facilis. Veniam totam tempora assumenda provident vel! Quos vel ratione optio fugit voluptatibus unde qui vitae est commodi debitis obcaecati provident non delectus natus, dolor exercitationem illo, quisquam consequatur quibusdam nisi amet quis! Debitis, ad necessitatibus accusantium vitae perspiciatis dignissimos voluptatem tempora labore culpa possimus officiis reiciendis aliquam saepe ab aspernatur earum eligendi voluptates repellendus amet. Placeat error soluta molestias laudantium ullam consequuntur maxime architecto voluptate hic provident corrupti earum dolor quos quod dolorem eum, in quasi quibusdam fugiat totam beatae sint id iure ea. Voluptate recusandae at placeat dolores velit sed eos consequatur ratione accusamus alias eligendi iure reiciendis quia, sapiente cumque eius possimus tenetur dolorum porro deserunt amet. Libero, possimus. Culpa maxime, saepe placeat itaque earum, perferendis eius dolor eligendi consequuntur numquam repudiandae voluptate in iure suscipit. Non dolores amet nisi quam. Eaque minus, ipsa porro totam obcaecati architecto deleniti enim aspernatur incidunt est aliquid esse similique laborum, officia temporibus repellat quas sit molestiae possimus dolores sequi. Illum officia ullam voluptate accusamus nisi ipsam numquam doloribus dolorem. Temporibus labore, at aspernatur quas sint maiores nostrum suscipit totam veritatis odio illo minus incidunt dolorum ipsum tempora architecto voluptatem quos alias quisquam est. Repellendus laboriosam inventore nobis, reprehenderit voluptates illum commodi sunt, sapiente quis numquam doloremque repellat quo! Commodi illum quidem, sit obcaecati eum perferendis veniam modi enim sint optio ab nemo excepturi temporibus. Ab mollitia consequuntur minus recusandae. Nam quam consequuntur quae impedit in amet tempora alias ex repudiandae repellendus quo, esse doloribus consectetur enim voluptatum maiores non, ducimus quas quaerat cumque ab tenetur fugit. Quod minus at a exercitationem nam, nihil sapiente. Eveniet adipisci sit, iusto debitis vitae minima maiores suscipit molestiae placeat nostrum ratione exercitationem totam ducimus sed, quidem eos esse deserunt ex quis amet rem dignissimos in dolores. Quaerat nemo iure earum, impedit quam tenetur placeat. Molestiae nulla facere sunt quasi quam! Labore, ullam quos! Quibusdam omnis reiciendis ad magni incidunt. Id, voluptatum aliquam quibusdam excepturi aperiam animi tempore iste deserunt nam. Cum ut labore itaque repellat necessitatibus voluptas voluptatem deleniti minus iusto, omnis vel corrupti. Iusto accusamus possimus incidunt natus, magni ut deserunt harum illo necessitatibus voluptas odit pariatur nulla, dignissimos dolorem minima quisquam at eum fuga culpa officia, beatae minus molestias. Laudantium facilis dolore amet facere eum inventore perspiciatis nisi? Ut tempore minima minus ullam accusantium numquam natus aut animi nisi voluptates hic cumque, aspernatur laborum sequi repellat tenetur laboriosam eaque. Id mollitia aut soluta, ad porro minus autem fugiat nihil.</p>

            <p><strong>Lorem ipsum</strong> dolor <abbr title="Sergeant">Sgt.</abbr> sit amet, <acronym title="Founded in 2006"> Twitter</acronym> consectetur adipiscing elit.
                <del>Curabitur in mattis augue</del>
                , sit amet blandit massa.
                <ins>Cras ultrices in augue eu pellentesque</ins>
                . Nam ultrices turpis at massa
                <time datetime="2008-02-14 20:00">Valentines day</time>
                condimentum viverra. Donec quis posuere nunc. Donec viverra vitae enim sed posuere. Ut risus velit,
                eleifend non mi id, efficitur interdum magna. Nunc eu ultricies urna, a posuere risus. Praesent at ex
                auctor, congue nunc id, aliquet justo. Nullam id aliquam tellus. Duis sit amet eros at orci molestie
                sodales in eget massa. Proin tincidunt arcu at nisi ornare hendrerit. Nullam feugiat quis magna ac
                tempor. Pellentesque tincidunt lacinia auctor. Integer congue neque a felis eleifend lacinia.
            </p>

            {{ settings.social.twitter.icon|remove_fill|remove_stroke|svg_class('fill-content w-12') }}

            <img src="https://picsum.photos/200/300" alt="Lorem picksum"/>

            <ul>
                <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                    vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
                </li>
                <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                    vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
                </li>
                <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                    vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
                </li>
            </ul>

            <ol>
                <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                    vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
                </li>
                <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                    vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
                </li>
                <li>Suspendisse potenti. Proin hendrerit erat sed justo cursus viverra. Aenean ut nisl id ligula pretium
                    vestibulum nec nec nunc. Aliquam gravida dapibus ante, sed volutpat enim feugiat at.
                </li>
            </ol>

            <blockquote>
                Maecenas efficitur lobortis sapien in feugiat. Nunc pretium ex et est facilisis ultrices. Interdum et
                malesuada fames ac ante ipsum primis in faucibus. Nullam at sodales quam, non aliquet odio. Curabitur
                mauris urna, congue ac blandit eu, faucibus dapibus quam. Sed id ultrices eros, at rhoncus tellus.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut tempor augue.
                <cite>-Sed volutpat, libero tempor interdum varius.</cite>
            </blockquote>

            <address>Glen Stansberry
                1234 Web Dev Lane
                Anywhere, USA
            </address>

            <a href="#" title="test">Hyperlink</a>

            <button>Button</button>
        </div>

    </main>

    <div style="height: 200px;" class="js-map" data-lat="0" data-lng="0"></div>

    {% include 'partials/social-links.twig' %}
    {% include 'partials/social-share.twig' %}

{%  endblock %}