.mce-content-body,
.wysiwyg,
#tinymce {
    > * {
        margin: 0;
        margin-bottom: var(--sp-m);
    }

    .alignleft {
        float: left;

        &img {
            margin-right: var(--sp-m);
        }
    }

    .alignright {
        float: right;

        &img {
            margin-left: var(--sp-m);
        }
    }

    .aligncenter {
        display: block;
        margin: 0 auto;
    }
}
