#tinymce,
.mce-content-body,
.wysiwyg {
    > * {
        margin: 0;
        margin-bottom: var(--sp-m);
    }

    h1 {
    }

    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }

    a {
    }

    p {
    }

    ul {
    }

    ol {
    }

    li {
    }

    blockquote {
    }

    .alignleft {
        float: left;

        &img {
            margin-right: var(--sp-m);
        }
    }

    .alignright {
        float: right;

        &img {
            margin-left: var(--sp-m);
        }
    }

    .aligncenter {
        display: block;
        margin: 0 auto;
    }
}
