:root,
[data-theme='default'] {
    --color-black: #000000;
    --color-white: #ffffff;

    --color-bg: var(--color-white);
    --color-type: var(--color-black);
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--color-type);
}

[data-theme='dark'] {
    --color-bg: var(--color-black);
    --color-type: var(--color-white);
}
