:root {
    --fs-heading-xl: CLAMP(3.6rem, #{vw-calc(70)}, 7rem);
    --fs-heading-l: CLAMP(3.4rem, #{vw-calc(60)}, 6rem);
    --fs-heading-m: CLAMP(3.2rem, #{vw-calc(55)}, 5.5rem);
    --fs-heading-s: CLAMP(3rem, #{vw-calc(46)}, 4.6rem);
    --fs-heading-xs: CLAMP(2.8rem, #{vw-calc(40)}, 4rem);

    --fs-body-l: CLAMP(2rem, #{vw-calc(24)}, 2.4rem);
    --fs-body-m: CLAMP(1.6rem, #{vw-calc(20)}, 2rem);
    --fs-body-s: CLAMP(1.3rem, #{vw-calc(16)}, 1.6rem);

    --fs-button-m: 2rem;
    --fs-button-s: 1.6rem;
}
